@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.wave {
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(../image/wave.jpeg);
    animation: wave 11s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

.wave::before {
    content: "";
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 143px;
    background: url(..//image/wave.jpeg);
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    animation: wave-reverse 11s linear infinite;
    opacity: 0.3;
}

@keyframes wave-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

.navbar {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    height: 56px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 0 12px 0 12px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    cursor: pointer;
    color: grey;
}

#brdr {
    padding: 8px 32px;
    margin-left: 16px;
    border-radius: 24px;
    background-color: orange;
}

#brdr:hover {
    background-color: lightgray;
    cursor: pointer;
}

#logo {
    color: white;
    font-size: 1.2rem;
    flex: 1;
    font-family: 'Fredoka One', cursive;
}

#cmnt {
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 496px;
    position: relative;
    top: 132px;
    left: 100px;
    font-size: 1.1rem;
}

#cmnt span {
    color: orange;
}

#start {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 24px;
    color: white;
    text-decoration: none;
}

#start::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 23px;
    background-color: orange;
    z-index: -1;
    transition: all ease 0.5s;
}

#start:hover::before {
    width: 100%;
}

.container {
    display: flex;
    overflow: visible;
    position: absolute;
    top: 16%;
    right: 10%;
    justify-content: center;
    align-items: center;
}

.animated {
    display: grid;
    grid-template-rows: repeat(9, 50px);
    grid-template-columns: repeat(9, 50px);
    animation: rotate 50s linear infinite;
}

.box {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 50%;
}

.animated :nth-child(1) {
    grid-row: 5;
    grid-column: 1;
    margin-left: 13px;
}

.animated :nth-child(2) {
    grid-row: 1;
    grid-column: 5;
    margin-top: 13px
}

.animated :nth-child(3) {
    grid-row: 5;
    grid-column: 9;
    margin-right: 13px
}

.animated :nth-child(4) {
    grid-row: 8;
    grid-column: 7;
    margin-right: 13px;
    margin-top: 12px;
}

.animated :nth-child(5) {
    grid-row: 8;
    grid-column: 3;
    margin-left: 13px;
    margin-top: 12px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.rect {
    height: 120px;
    position: absolute;
}